h1,h3{
    color: #2299aa;
}
.navigation{
    width: 100%;
    position: relative;
    min-height: 90px;
    z-index: 1000;
}
#navbarNav{
    justify-content: flex-end;
}
.navbar-brand{
    color: #2299aa !important;
    font-size: 2rem;
}
.navbar-light,.navbar-nav,.nav-link{
    color: #333333;
    font-weight: 600;
    padding-left: 1.2rem !important;
    padding-right: 1.2rem !important;

}
/*buttons*/
.btn{
    background-color: #2299aa;
    border-radius: 2rem;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    color: #ffffff !important;
}
/* banner */
.banner,#my-skill,#contact{
    background-color: #eae7dc;
}
/* icon */
.icon{
    color: #ffffff;
    background-color: #2299aa;
    height: 50px;
    max-width: 50px;
    width: 100% !important;
    margin: auto;
    padding: 17px;
    background-size: 20%;
    border-radius: 28px;
}
.footer{
    text-decoration: none;
    color: #2299aa;
    font-style: italic;
}